body{
background-image: url(logo1.jpg);
}
/*Navbar*/
nav .fixed-top{
    background-color: #fff;
}

nav button{
    color: greenyellow;
}

.navbar-link{
    letter-spacing: 2px;
}

div p{
    color: greenyellow;
    font-size: 16px;
}
#link{
    color: #fff;
    font-weight: bold;
    border-bottom: 3px solid #EC4CDC;
}
#link:hover{
    color: #EC4CDC;
    transition: 0.3s;
}
#links{
    color: #fff;
    font-weight: bold;
}
#links:hover{
    color: #EC4CDC;
    transition: 0.3s;
}
#links1{
    color: #fff;
    background-color:#000;
    font-weight: bold;
    font-size: small;
}
#links1:hover{
    color: #EC4CDC;
    transition: 0.3s;
}
/*Main home page*/
.container{
    background-color: #C2EFEC;
}

.col-md-2{
    padding: 0px;
}

.mt2{
    color: greenyellow;
    font-weight: bold;
}

.mt-3{
    color: greenyellow;
}

.col-md-7{
    color: #C2EFEC; 
    cursor: pointer;
}

div .col-md-2 span{
    color: #EC4CDC;
    cursor: pointer; 
    font-size: 16px;
}

#i1{
    color: gray;
    background-color:#000;
    font-family: Brush Script MT, Brush Script Std, cursive;
    border: none;
    font-weight: bold;
    font-size: 16px;
}
#btn{
    color: #fff;
    cursor: pointer;
}
#icons{
    color: #fff;
}
#icons:hover{
    color: #EC4CDC;
    transition: 0.3s;
} 
#p1{
    color: #fff;
    font-size: 80px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}
#p2{
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}
#btn1{
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    border-radius: 30px;
    background-color: #EC4CDC;
}
#btn2{
    color: gray;
    font-weight: bold;
    font-size: 14px;
    border-radius: 30px;
    background-color: #fff;
}
#p3{
    color: #EC4CDC;
    font-weight: bold;
    font-size: 10px;
}
#icon{
    color: #fff;
    background-color: #EC4CDC;
    border-radius: 30px;
    font-size: 12px;
    cursor: pointer;
}
#icon1{
    color: gray;
    font-size: 20px;
}
#icons1{
    color: gray;
    cursor: pointer;
}
#icons1:hover{
    color: #EC4CDC;
    transition: 0.3s;
}
ul li{
    list-style: none;
    float: left;
}
#l0{
    color: #000;
    border-bottom: 2px solid #EC4CDC;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
}
#l1{
    color: lightgray;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
}
#l1:hover{
    color: #000;
    transition: 0.3s;
}
#i2{
    color: #fff;
    background-color: #EC4CDC;
    border-radius: 30px;
    font-size: 14px;
    cursor: pointer;
}
#btn3{
    color: #000;
    border: 2px solid #EC4CDC;
    border-radius: 35px;
    cursor: pointer;
    font-weight: bold;
}
#btn3:hover{
    color: #f00;
    background-color: #EC4CDC;
    transition: 0.5s;
}
#pic{
    background-image: url(logo12.jpg);
}
#r2{
    border-radius: 30px 0px 0px 30px;
    font-family: Snell Roundhand, cursive;
}
#btn4{
    border-radius: 0px 30px 30px 0px;
    color: #f00;
    background-color:#EC4CDC; 
    font-size: 16px;
}
#btn4:hover{
    color: #f00;
    background-color: #000;
}
#l2:hover{
    color: #EC4CDC;
    cursor: pointer;
    transition: 0.3s;
}
#l3{
    color: #000;
    cursor: pointer;
}
#l3:hover{
    color: #EC4CDC;
    transition: 0.3s;
}
#icon2{
    color: #fff;
    border: 1px solid #4C60AC;
    background-color: #4C60AC;
    border-radius: 45px;
    font-size: 16px;
}
#icon3{
    color: #fff;
    border: 1px solid #00BDE1;
    background-color: #00BDE1;
    border-radius: 30px;
    font-size:16px;
}
#icon4{
    color: #fff;
    border: 1px solid #D91A18;
    background-color: #D91A18;
    border-radius: 30px;
    font-size:medium;
}
#icon5{
    color: #fff;
    border: 1px solid #0085D7;
    background-color: #0085D7;
    border-radius: 30px;
    font-size:medium;
}
#icon6{
    color: #fff;
    border: 1px solid #E20000;
    background-color: #E20000;
    border-radius: 30px;
    font-size:medium;
}

.container-fluid{
    background-color: #fff;
}

h1{
    text-align: center;
    color: #EC4CDC;
}

#card-body h6{
    text-align: center;
    color: #EC4CDC;
}

#col-md-5{
   color: lightgray; 
   cursor: pointer;
}

